@import "../../styles/variables.scss";

// .frontCardContainer {
//     display: grid;
//     grid-template-columns: 30% 70%;
//     height: 100%;
//     align-items: center;
//     }

.frontCardContainer{
    position: absolute;
    width: fit-content;
    top: 32px;
    left: 0;
    right: 0;
    margin: 0;
    letter-spacing: 2px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frontCardBg {
  height: 245px;
  position: relative;
  box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.25);
}

.frontCardNumber{
    display: flex;
    width: fit-content;
    position: absolute;
    left: 65px;
    top: 150px;
    color: white;
    letter-spacing: 3px;
    font-size: 150%;

}

.frontCardName{
    z-index: 3;
    justify-content: center;
    position: absolute;
    top: 200px;
    color: white;
    left: 70px;
    letter-spacing: 2px;
    font-variant-numeric: tabular-nums;
}

.frontCardExp {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 200px;
    color: white;
    left: 300px;
}

.logo{
    position: absolute;
    display: flex;
    margin: 20px;
    justify-content: flex-start;
    top: 25px;
    left: 0px;
    z-index: 1;
}