@import "../../styles/variables.scss";

.containerFrontCard {
    border-radius: 20px;
    color: $white;
    height: 245px;
    margin-right: 240px;
    width: 447px;
    padding: 25px;
    
    background-image: url("../../images//bg-card-front.png");
    box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.25);
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;

.logo {
    background-image: url("../../images/card-logo.svg");
    width: 84px;
    height: 47px;
}


    .frontCardNumber {
        color: $white;
        display: flex;

        font-size: 25px;
        text-align: center;
        letter-spacing: 3.8px;
        width: 100%;
        padding-top: 30px;
    }
    
    .bottomCard {
        display: flex;
        justify-content: space-between;


        width: 100%;
        font-size: 28px;
    }

    .frontCardName{
        color: $white;
        font-size: 18px;
    }

    .frontCardExp {
        color: $white;
        font-size: 18px;
    }
    @media (max-width: $grid-breakpoints-sm) {
        margin-top:  -156px;
        margin-right: 80px;
    }
}