@import "../../styles/variables.scss";

.frontCardContainer {
    width: 447px;
    height: 245px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'number number' 'name exp';
    grid-gap: 25px;
    z-index: 1;

    &::before {
        content: '';
        width: 47px;
        height: 47px;
        border-radius: 50%;
        background-color: $white;
        position: absolute;
        top: 28px;
        left: 32px;
        z-index: 2;
    }

    &::after {
        content: '';
        width: 21px;
        height: 21px;
        border-radius: 50%;
        border: 1px solid $white;
        position: absolute;
        top: 40px;
        left: 95px;
    }
}

.frontCardBg {
    width: 100%;
    height: 100%;
}


.frontCardNumber,
.frontCardName,
.frontCardExp {
    color: $white;
    z-index: 1;
}

.frontCardNumber {
font-size: 30px;
letter-spacing: 30px * .07;
grid-area: number;
display: flex;
align-items: flex-end;
}

.frontCardName,
.frontCardExp {
    font-size: 14px;
    letter-spacing: 14px * .14;
}

.frontCardName {
    grid-area: name ;
}

.frontCardExp {
    grid-area: exp;
    text-align: end;
}

@media (max-width: 1000px) {
	.frontCardContainer {
		width: 286px;
		height: 157px;
		padding: 18px 23px 23px 20px;
		grid-gap: 15px;

		&::before {
			width: 30px;
			height: 30px;
			top: 18px;
			left: 20px;
		}

		&::after {
			width: 14px;
			height: 14px;
			top: 26px;
			left: 60px;
		}
	}

	.frontCardNumber {
		font-size: 18px;
		letter-spacing: 18px * 0.12;
	}

	.frontCardName,
	.frontCardExp {
		font-size: 10px;
		letter-spacing: 10px * 0.08;
	}
}