@import '/styles/variables.scss';

.form {
    position: absolute;
    width: 400px;
    height: 340px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 700px;
    top: 500px;

}

.labelCardholderName {
    text-transform: uppercase;
    font-size: 18px;
    color: #21092f;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.inputCardholderName {
    width: 100%;
    height: 35px;
    padding: 0.5rem;
    outline: none;
    border: 2px solid #8e8593;
    border-radius: 6px;
}

.labelCardNumber {
    margin: 5px 0 5px 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #21092f;
    font-weight: bold;
}

.expDate {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #21092f;
    margin: 5px 0 5px 0;

}

.inputCardNumber {
    width: 100%;
    height: 35px;
    padding: 0.5rem;
    outline: none;
    border: 2px solid #8e8593;
    border-radius: 6px;
}

.labelCVC{
    margin: 5px 0 5px 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #21092f;
    font-weight: bold;
}

.inputCVC {
    width: 100%;
    height: 35px;
    padding: 0.5rem;
    outline: none;
    border: 2px solid #8e8593;
    border-radius: 6px;
}


.expMM {
    padding: 0.8rem;
    border: 1px solid #8e8593;
    border-radius: 7px;
    width: 60px;
    display: flex;
    text-align: start;
    width: 60px;
    margin-bottom: 5px;
}

.expYY {
    padding: 0.8rem;
    border: 1px solid #8e8593;
    border-radius: 7px;
    width: 60px;
    display: flex;
    text-align: start;
}

.btnSubmit {    
    background: #21092f;
    border-radius: 6px;
    color: $white;
    cursor: pointer;
    font-size: 18px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    transition: all 500ms ease 0s;
    width: 100%;
    &:disabled {
        opacity: 0.5;
    }
}

.invalid {
    border-color: red;
    
    &:focus {
    border-color: yellow;
    }
   
}    
