@import '/styles/variables.scss';

// form 
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 445px;
    padding: 20px;
    
    .wrapper{
        display: flex;
        align-items: baseline;
        margin: auto;
    }
    
    .wrapperDate {
    margin: 10px 0;
    }

    .wrapperCVC {
        display: flex;
        flex-direction: column;
    }
}

// labels 
.labelCardholderName {
    color: $dark-violet;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
}

.labelCardNumber {
    color: $dark-violet;
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
}

.labelCVC{
    color: $dark-violet;
    font-size: 14px;
    font-weight: 600;
    margin: 12px 5px 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.expDate {
    color: $dark-violet;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

// inputs 
.inputCardholderName {
    border: 2px solid $light-grayish-violet;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    height: 35px;
    outline: none;
    padding: 20px 10px;
    &::placeholder {
        opacity: .25;
    }
    &:focus {
        box-shadow: 0 0 10px #719ECE;
        box-sizing: border-box;
        // border-color: #ffaa2a;
    }
}
.inputCardNumber {
    border: 2px solid $light-grayish-violet;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    height: 35px;
    outline: none;
    padding: 20px 10px;
    &::placeholder {
        opacity: .25;
    }
    &:focus {
        box-shadow: 0 0 10px #719ECE;
        box-sizing: border-box;
        // border-color: #ffaa2a;
    }
}
.inputCVC {
    border: 2px solid $light-grayish-violet;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    height: 35px;
    outline: none;
    padding: 20px 10px;
    width: 190px;
    &::placeholder {
        opacity: .25;
    }
    &:focus {
        box-shadow: 0 0 10px #719ECE;
        box-sizing: border-box;
        // border-color: #ffaa2a;
    }
}
.expMM {
    margin: 5px 10px 0 0; 
    border: 2px solid $light-grayish-violet;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    width: 40%;
    height: 35px;
    outline: none;
    padding: 20px 10px;
    &::placeholder {
        opacity: .25;
    }
    &:focus {
        box-shadow: 0 0 10px #719ECE;
        box-sizing: border-box;
    }
}
.expYY {
    margin: 5px 0;
    border: 2px solid $light-grayish-violet;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    width: 40%;
    height: 35px;
    outline: none;
    padding: 20px 10px;
    &::placeholder {
        opacity: .25;
    }
    &:focus {
        box-shadow: 0 0 10px #719ECE;
        box-sizing: border-box;
    }
    .invalid {
        border-color: #ff5252;
    }
}
// button 
.btnSubmit {    
    background: $dark-violet;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 2.5px $light-grayish-violet;
    color: $white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    padding: 15px; 
    transition: all 500ms ease 0s;
    width: 100%;
    &:disabled {
        opacity: 0.5;
    }
    &:hover {
        background-color: #3d0f57;
    }
    &:focus {
        background-color: #3d0f57;
        box-shadow: 10px 5px 5px grey;
        outline: none;
    }
}       

.invalid{
    border-color: #ff5252;
    background-color: #fbdae2;
    animation: shake .3s ease-in-out;


    &:focus {
    border-color: #ffaa2a;
    box-shadow: none;
    }
}
//shake animation for errors
@keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }

// errors 
.error{
        color: #ff5252;
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
        width: 100%;
        font-style: italic;
        padding: 5px 0;
}
//media-query for breakpoint-sm size

@media (max-width: $grid-breakpoints-sm) {
    .form {
        gap: 10px;
    }

    .labelCardholderName, .labelCardNumber, .expDate, .labelCVC {
        font-size: 18px;
    }

    .inputCardholderName, .inputCardNumber, .inputCVC, .expMM, .expYY {
        padding: 25px 10px;
    }
    .btnSubmit {
        height: 60px;
        margin-top: 0;
    }
    .error {
        font-size: 15px;
    }
}