@import "../styles/variables.scss";

.parent{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: $grid-breakpoints-sm){
        background-image: url("../images/bg-main-mobile.png");
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: 100vh;
    }
}
.cards {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 50px;
    padding-right: 30px;

    @media (max-width: $grid-breakpoints-sm) {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        padding: 20px 20px;
    }
}

.form {
    width: fit-content;
    display: flex;
    flex-direction: column;    
    align-self: center;
    padding-top: 20px;
    
    @media (max-width: $grid-breakpoints-sm) {
        margin: auto;
}
}