.page {
    position: relative;
    height: 1200px;
    width: 80%;
}

.backgroundMainDesktop{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    @media (min-width:536px) {
        display: flex;
        flex: column-reverse;
        width: 45%;
        height: 100%;
        background-size: cover;
    }
}

.frontCard {
    position: absolute;
    top: 330px;
    left: 230px;
}

.backCard {
    position: absolute;
    top: 630px;
    left: 200px;
}

