@import "../../styles/variables.scss";

.containerCard {
    position: absolute;
    display: flex;
    justify-content: flex-start;
}

.backCard {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.backCardCvc {
    position: absolute;
    color: $white;
    left: 370px;
    top: 110px;
}