@import "../../styles/variables.scss";

.backCardContainer {
    width: 447px;
    height: 245px;
}

.backCardSubcontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.backCardBg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.backCardCvc {
    color: $white;
    font-size: 14px;
    letter-spacing: 1px;
    position: absolute;
    top: 112px;
    right: 60px;
}