$linear-gradient: linear-gradient(90deg, rgba(99, 71, 255, 1) 0%, rgba(96, 5, 148, 1) 100%);
$red: #ff5252;

$white: #fff;
$light-grayish-violet: #dedddf;
$dark-grayish-violet: #8e8593;
$dark-violet: #21092f;


$grid-breakpoints: 576px;


$grid-breakpoints-xs:0;
$grid-breakpoints-sm:576px;
$grid-breakpoints-md:768px;
$grid-breakpoints-lg:992px;
$grid-breakpoints-xl:1200px;
$grid-breakpoints-xxl:1400px;